.newtask_form {
	width: 100%;
}
.newtask_input {
	display: block;
  background: #FFFFFF;
	color: #000;
	border-radius: 5px;
	padding: 7px 9px;
	width: 100%;
  	font-family: inherit;
  	font-weight: 400;
}
.newtask_input::placeholder {
	color: #bdbbbb;
	border-bottom: 1px solid grey;
}
