.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 100%;
	background: #0067A3;
	padding: 20px;
	height: 60px;
	position: sticky;
		top: 0;
}

.header_title {
	color: #fff;
}

@media (max-width: 550px) {
	.header {
		justify-content: flex-end;
	}
	.header_title {
		display: none;
	}
}