.main_wrapper {
	flex: 1 1 auto;
	/* max-width: 100%; */
	display: flex;
	padding: 0 20px 30px 20px;
	background: #0079BF;
	overflow: hidden;
}

@media (max-width: 380px) {
	.main_wrapper {
		padding: 10px;
	}
}