.selection_block {
	position: relative;
	width: 100%;
}
.selection_block::after {
	content: '';
	position: absolute;
		right: 20px;
		top: 10%;
	pointer-events: none;
	display: block;
	width: 15px;
	height: 15px;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
	transform: rotate(135deg);
}

.select_task {
	appearance: none;
		-webkit-appearance: none;
  		-moz-appearance: none;
	outline: none;
  	border: none;
  	margin: 0;
  	background-color:#fff;
	color: black;
	border-radius: 10px;
	padding: 10px;
  	font-size: 18px;
	line-height: 21px;
	cursor: pointer;
  	min-height: 35px;
	display: block;
	width: 100%;
}
.select_task:hover {
	background: #00aeff;
}
